<launch>

<node pkg="rls_push_vision" type="pcl_relay.py" name="pcl_replay" />

<node pkg="tf" type="static_transform_publisher" name="left_out" args="-0.4 0.05 -0.1 -0.707 0 0 0.707  plane_frame left_out 10 "/>


<node pkg="tf" type="static_transform_publisher" name="left_in" args="0.35 0 0 0 0 0 1 left_out left_in 10" />
<node pkg="tf" type="static_transform_publisher" name="right_out" args="0 -0.55 0 0 0 0 1 left_out right_out 10" />
<node pkg="tf" type="static_transform_publisher" name="right_in" args="0.35 -0.55 0 0 0 0 1 left_out right_in 10" />

    
    <!--arg name="combined_pcl_name" value="/head_camera/depth_registered/points" / -->
    <arg name="combined_pcl_name" value="pointcloud_local" />

    <include file="$(find rls_push_vision)/launch/tabletop_segmentation_real.launch" >
        <arg name="tabletop_segmentation_points_in" value="$(arg combined_pcl_name)" />
    </include>

</launch>

